 
 :root {
  --tangerine: #FB8500;
  --selectiveYellow: #FFB703;
  --lightCornflowerBlue: #8ECAE6;
  --prussianBlue: #023047;
}
 
 .navbar {
    background: var(--tangerine);
  }
 
  .btn-read{
    background: var(--selectiveYellow);
  }

  .btn-read:hover{
    opacity: 0.5;
  }

  .post-img {
    width: 80%;
    height: auto;
    margin-left: 3%;
  }

  .side-crop{
    max-height: 300px; 
    overflow: hidden;
  }
  

 /* Social Media icons */
 .bi {
    font-size: 2rem;
    padding: 0.5em;
   } 

   .bib {
    font-size: 1rem;
    padding: 0.5em;
    margin-right: 0.5em;
   } 
  
  .bi:hover {
      opacity: 0.5;
  }
  
  .bi-facebook {
    color: #3B5998;
  } 

  
  .bi-twitter {
    color: #55ACEE;
  }

  .bi-instagram {
    color: #125688;
  } 

  .bi-github {
    color: #171515;
  } 

  .bi-envelope {
    color: #171515;
  } 


 .card-header{
   background: var(--lightCornflowerBlue);
 }

 .badge{
  background:  var(--tangerine);
  
 }

 .badge:hover{
  opacity: 0.5;
 }

 hr{
  background-color: var(--tangerine);
 }

 .border{
   border-color: var(--prussianBlue) !important;
 }

 #canvasID{
  transform: scale(0.6);
  /* overflow:hidden; */
  margin-left: -100px;
  margin-top: -100px; 
  margin-bottom: -100px;
  
 }

 #inputID{
  margin-right: 20px;
  margin-bottom: 60px;
}

 @media (min-width: 576px) {
  #canvasID{
    transform: scale(0.8);
    margin-left: -50px;
    margin-top: -50px ;
    margin-bottom: -50px;
   }

   #inputID{
    margin-right: 20px;

  }
}

@media (min-width: 768px) {
  #canvasID{
    transform: scale(0.7);
    margin-left: -60px;
  margin-top: -30px 
   }

   #inputID{
    margin-right: -40px;
 
  }
}

@media (min-width: 992px){
  #canvasID{
    transform: scale(1.0);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
   }

   #inputID{
    margin-right: -70px;
  }
}


@media (min-width: 1200px) { 
  #canvasID{
  transform: scale(1.0);
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
 }

 #inputID{
  margin-left: 30px;
  margin-right: 110px;
  /* background-color:#fb8500; */
} }

/* @media (max-width: 1199.98px) { 
  #inputID{
  margin-right: 140px;
  background-color:#fb8500;
} } */
